In [1]:
import pandas as pd

In [13]:
#define file path
path = "Resources/budget_data.csv"
#read CSV data to data frame
bd_df = pd.read_csv(path)
bd_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [7]:
# * The total number of months included in the dataset
tot_months = bd_df["Date"].count()
tot_months

86

In [50]:
#Create a copy of the main data frame
change_df = bd_df.copy()

#insert "Change" column
change_df["Change"]=0

In [63]:
#initialize our change_var at 0.
change_var = 0 

#Loop through DataFrame 
for i in change_df.index:
    #this if loop skips the top row calculation to avoid an exception. 
    if i > 0:
        change_var = change_df["Profit/Losses"][i] - change_df["Profit/Losses"][i-1]
    elif i == 0:
        change_var = 0
    #set the change column value to the change var caculated on the previous row
    change_df["Change"][i] = change_var
change_df

/var/folders/84/whf5plpj76n0gfsn98hvs1mr0000gn/T/ipykernel_675/4127025550.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  change_df["Change"][i] = change_var

      Date  Profit/Losses   Change
0   Jan-10        1088983        0
1   Feb-10        -354534 -1443517
2   Mar-10         276622   631156
3   Apr-10        -728133 -1004755
4   May-10         852993  1581126
..     ...            ...      ...
81  Oct-16        -729004 -1627245
82  Nov-16        -112209   616795
83  Dec-16         516313   628522
84  Jan-17         607208    90895
85  Feb-17         382539  -224669

[86 rows x 3 columns]

In [64]:
change_df["Change"][49]

-1825558

In [65]:
#* The net total amount of "Profit/Losses" over the entire period
net_total = bd_df["Profit/Losses"].sum()
net_total

22564198

In [66]:
#* The changes in "Profit/Losses" over the entire period, and then the average of those change
avg_change = change_df["Change"].mean()
avg_change
#not right

-8214.46511627907

In [67]:
#* The greatest increase in profits (date and amount) over the entire period
max_increase = change_df["Change"].max()
max_increase
#not right

1862002

In [68]:
#* The greatest decrease in profits (date and amount) over the entire period
max_decrease = change_df["Change"].min()
max_decrease
# not right

-1825558

In [73]:
#Your analysis should look similar to the following:

#  ```text
#  Financial Analysis
#  ----------------------------
#  Total Months: 86
#  Total: $22564198
 # Average Change: $-8311.11
 # Greatest Increase in Profits: Aug-16 ($1862002)
#  Greatest Decrease in Profits: Feb-14 ($-1825558)
#  ```

print( "Financial Analysis" )
print(" ----------------------------" )
print("Total Months: " + str(double(tot_months) ))
print("Total: " + str(net_total) )
print("Average Change: $" + str(avg_change))
 # Greatest Increase in Profits: Aug-16 ($1862002)
#  Greatest Decrease in Profits: Feb-14 ($-1825558)"

#In addition, your final script should both print the analysis to the terminal and export a text file with the results.

Financial Analysis
 ----------------------------

NameError: name 'double' is not defined